.comparison-a {
	background: #C5E1A5;
	padding: 10px;
	word-break: break-word;
}

.comparison-b {
	background: #FFCCBC;
	padding: 10px;
	word-break: break-word;
}

.entry {
	background: #C1CDCD;
	padding: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}

#template {
	display: none;
}

#version-a, #version-b{
	display: inline-block;
	border: 1px solid gray;
	border-radius: 4px;
}

